{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comment list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Status</th>
                <th>Authoremail</th>
                <th>Authorurl</th>
                <th>Authorip</th>
                <th>Authorid</th>
                <th>Metadescription</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td><a href="{{ path('comment_show', { 'id': comment.id }) }}">{{ comment.id }}</a></td>
                <td>{{ comment.type }}</td>
                <td>{{ comment.status }}</td>
                <td>{{ comment.authorEmail }}</td>
                <td>{{ comment.authorUrl }}</td>
                <td>{{ comment.authorIp }}</td>
                <td>{{ comment.authorId }}</td>
                <td>{{ comment.metaDescription }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('comment_show', { 'id': comment.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('comment_edit', { 'id': comment.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comment_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
