{# コメントフォーム #}

<div id="commentForm">
  <div class="tabs is-boxed">
    <ul>
      <li class="is-active">
        <a>
          <span class="icon is-small"><i class="fa fa-comment"></i></span>
          <span>コメント</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small"><i class="fa fa-file-powerpoint-o"></i></span>
          <span>プレビュー</span>
        </a>
      </li>
    </ul>
  </div>

  <div id="tabContent" class="container">
    <form action="{{ path('comment_new') }}" method="post">
    <p class="control">
        {{ form_label(commentForm.authorName, 'comment.authorName'|trans) }}
        {{ form_widget(commentForm.authorName, {'attr': {'class': 'input'}}) }}
        {{ form_errors(commentForm.authorName) }}
    </p>
    <p class="control">
        {{ form_label(commentForm.authorEmail, 'comment.authorEmail'|trans) }}
        {{ form_widget(commentForm.authorEmail, {'attr': {'class': 'input'}}) }}
        {{ form_errors(commentForm.authorEmail) }}
    </p>
    <p class="control">
        {{ form_widget(commentForm.content, {'attr': {'class': 'textarea'}}) }}
        {{ form_errors(commentForm.content) }}
    </p>
    <p class="control">
        <button class="button is-primary">{{ 'common.button.send'|trans }}</button>
        <button class="button is-link">{{ 'common.button.clear'|trans }}</button>
    </p>
    {{ form_rest(commentForm) }}
    </form>
  </div>
</div>
