{% extends 'layout.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}
{% block page_title %}{{ post.title }}{% endblock %}
{% block page_subtitle %}
  {{ post.publishedAt|date('Y.m.d') }}
  @starlod_twtr
  <i class="fa fa-folder-open-o" aria-hidden="true"></i>PHP
{% endblock %}

{% block page_content %}

  {% if post %}
    <div class="columns">
        <div class="column">

          <div class="card is-fullwidth">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="http://placehold.it/809x500" alt="">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-12"><a href="{{ path('post_show', {'id': post.id}) }}">{{ post.title }}</a></p>
                </div>
              </div>

              <div class="content">
                {{ post.content }}
              </div>
            </div>
          </div>
        </div>

    </div>
  {% else %}
    <p>新しい投稿はありません。</p>
  {% endif %}

{% endblock %}
