<nav class="navbar navbar-static-top navbar-light bg-faded">
    <a href="#" class="navbar-brand">{{ 'header.title'|trans }}</a>
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('post_index') }}">{{ 'post_index'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('post_new') }}">記事を書く</a>
        </li>
        {% if app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_profile_show') }}">プロフィール</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_logout') }}">{{ 'security.logout'|trans }}</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_registration_register') }}">会員登録</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_login') }}">{{ 'security.login'|trans }}</a>
            </li>
        {% endif %}
    </ul>
</nav>

{#
{{ path('fos_user_profile_edit') }}
{{ path('fos_user_registration_check_email') }}
{{ path('fos_user_registration_confirm') }}
{{ path('fos_user_registration_confirmed') }}
{{ path('fos_user_resetting_request') }}
{{ path('fos_user_resetting_send_email') }}
{{ path('fos_user_resetting_check_email') }}
{{ path('fos_user_resetting_reset') }}
{{ path('fos_user_change_password') }}
#}
