{% extends '::layout.html.twig' %}

{% block title %}{{ post.metaTitle }}{% endblock %}
{% block description %}{{ post.metaDescription }}{% endblock %}

{% block article %}
    <h1>{{ post.title }}</h1>

    <i class="fa fa-clock-o"></i> {% if post.publishedAt %}<time pubdate="{{ post.publishedAt|date('Y-m-d H:i:s') }}">{{ post.publishedAt|date('Y.m.d') }}</time>{% endif %}<br>
    <i class="fa fa-pencil"></i> {% if post.updatedAt %}<time pubdate="{{ post.updatedAt|date('Y-m-d H:i:s') }}">{{ post.updatedAt|date('Y.m.d') }}</time>{% endif %}

    <div>{{ post.content|markdown('sundown') }}</div>

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('post_edit', { 'id': post.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

{% block referenceLink %}
    <aside>
        {# 参考リンク #}
    </aside>
{% endblock %}

{% block relatedLink %}
    <aside>
        {# 関連記事 #}
    </aside>
{% endblock %}

{% block aroundLink %}
    <aside>
        {# 前後記事リンク #}
    </aside>
{% endblock %}

{% block commentsList %}
    <aside>
        <h3>コメント一覧</h3>
        <div>名前</div>
        <div>内容</div>
    </aside>
{% endblock %}

{% block commentsPost %}
    <aside>
        {# コメント投稿 #}
    </aside>
{% endblock %}

